<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kinoko.dao.StudentMapper">

    <select id="selectAllStudents" resultType="Student">
        select * from student order by id
    </select>

    <select id="selectStudentById" parameterType="java.lang.String" resultType="Student">
        select * from student where id = #{id};
    </select>

    <update id="updateStudent" parameterType="Student">
        update student set
        `name` = #{name}, password = #{password}, `lock` = #{lock}
        where id = #{id};
    </update>

    <select id="selectAllStudentsByActivityId" resultType="Student">
        select * from student where student.id in
        (select s_id from student_activity where a_id = #{id})
        order by id;
    </select>

    <insert id="addStudent" parameterType="Student">
        insert into student
        (`id`, `name`, password, `lock`)
        values (#{id}, #{name}, #{password}, #{lock});
    </insert>
</mapper>


